body {
	
	background-color: #000000 ;
	font-family: "Century Gothic",Trebuchet MS, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	top: 0px;
	bottom: 0px;
}
body h2 {
	color: #910000;
	font-size: 22px;
}
body h3 {
	color: #181818;
	font-size: 22px;
	font-weight: normal;
}
#customers li {
	background: url("web/seperatorClient.png") no-repeat scroll right top transparent;
    float: left;
    height: 47px;
    padding: 0 15px;
	text-decoration: none;
	color: #ffffff;
	padding-bottom: 20px;
}

#nav li {
    background: url("web/separator.png") no-repeat scroll right top transparent;
    float: left;
    height: 47px;
    padding: 0 15px;
	text-decoration: none;
	color: #ffffff;
}

#nav a {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    margin-right: 1px;
    padding: 15px 20px 0;
    text-decoration: none;
    text-transform: uppercase;
	outline: 0;
}