<?xml version="1.0" encoding="utf-8"?>
<data>
	<member>
		<id>med_ip</id>
		<value>
			<member>
				<id>2ND_FLOOR</id>
				<value>http://www.innobrik.com</value>
				<dest>/xmlrpc/2ND_FLOOR.php</dest>
			</member>
			<member>
				<id>3RD_FLOOR</id>
				<value>http://www.innobrik.com</value>
				<dest>/xmlrpc/3RD_FLOOR.php</dest>
			</member>
			<member>
				<id>4TH_FLOOR</id>
				<value>http://www.innobrik.com</value>
				<dest>/xmlrpc/4TH_FLOOR.php</dest>
			</member>
			<member>
				<id>GND_FLOOR</id>
				<value>http://www.innobrik.com</value>
				<dest>/xmlrpc/GND_FLOOR.php</dest>
			</member>
			<member>
				<id>1ST_FLOOR</id>
				<value>http://www.innobrik.com</value>
				<dest>/xmlrpc/1ST_FLOOR.php</dest>
			</member>	
		</value>
	</member>
	<member>
		<id>mode</id>
		<value>auto</value>
	</member>
	<member>
		<id>buildingURL</id>
		<value>aliases/VODAFONE/PUNE/EON/</value>
	</member>
	<member>
		<id>systems</id>
		<value>
			<member>
				<id>VRV</id>
				<icon>assets/VRV.swf</icon>
				<value>
					<member>
						<id>Alarm_sign</id>
						<limits>0,1</limits>
						<value>desc1,desc2,desc3</value>
					</member>
					<member>
						<id>Set_Room_Temperature</id>
						<value>val1,val2,val3</value>
						<limits>12,35</limits>
					</member>
					<member>
						<id>Indoor_fan_status</id>
						<value>n1</value>
						<limits>0,1</limits>
					</member>	
				</value>
				<URL>HVAC/{floorName}_VRV</URL>
			</member>
			<member>
				<id>UPS</id>
				<icon>assets/UPS.swf</icon>
				<value>
					<member>
						<id>Battery_Voltage_1</id>
						<value></value>
						<limits>0,1000</limits>
					</member>
				</value>
				<URL>ELECTRICAL/UPS</URL>
			</member>
			<member>
				<id>LMS</id>
				<icon>assets/LMS.swf</icon>
				<URL>LIGHTING</URL>
				<value>
				</value>
			</member>
			<member>
				<id>PMS</id>
				<icon>assets/PMS.swf</icon>
				<URL>ELECTRICAL/ENERGY_METER</URL>
				<value>ENERGY_METER</value>
			</member>
			<member>
				<id>OZONISER</id>
				<icon>assets/OZ.swf</icon>
				<URL></URL>
				<value>OZONISER</value>
			</member>
			<member>
				<id>VENTILATOR</id>
				<icon>assets/Ventilator.swf</icon>
				<URL></URL>
				<value>VENTILATION_FAN_STATUS</value>
			</member>
			<member>
				<id>Layouts</id>
				<icon>assets/layouts.swf</icon>
				<value>
				</value>
				<URL></URL>
			</member>
			<member>
				<id>Alarms</id>
				<icon>assets/alarms.swf</icon>
				<value>
				</value>
				<URL></URL>
			</member>
		</value>
	</member>
	
	<member>
		<id>pollFrequency</id>
		<value>4000</value>
	</member>
</data>