@charset "UTF-8";

@import "default.css";


ul.dropdown li a {
 display: block;
 padding: 7px 14px;
}


/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}


/* ------------- Reinitiate default: post-override activities  */

	ul.dropdown li.dir {
	 padding: 7px 20px 7px 14px;
	}

	ul.dropdown ul li.dir {
	 padding-right: 15px;
	}


/* ------------- Custom */

	ul.dropdown li {

	}

	ul.dropdown ul a {
	 padding: 4px 5px 4px 14px;
	 width: 151px; /* Especially for IE */
	}

	ul.dropdown ul a:hover {
	 background-color: #39b54a;
	 
	}

	ul.dropdown a.open {
	 background-color: #39b54a;
	 color: #029840;
	}

	ul.dropdown ul a.open {
	 background-color: #39b54a;
	 color: #fff;
	}


	/* CSS 2.1 */

	ul.dropdown li:hover > a.dir {
	 background-color: #2e2e2e;
	 color: #029840;
	}

	ul.dropdown ul li:hover > a.dir {
	 background-color: #029840;
	 color: #fff;
	}